# Editors
.vscode

# Build artifacts
*.js
*.d.ts

# Exceptions
!.eslintrc.js
!.prettierrc.js
!jest.config.js

# Output Dir
build

coverage

# Installed dependencies
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Sam stuff
template.yaml
